@import url(http://fonts.googleapis.com/css?family=Aladin);

body {
	/*background-color: lightgray;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 40%);
	background-size: 40px 40px;*/
	min-width: 1200px;
}
body>.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -9999;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}

*{margin: 0; padding: 0; }

li{list-style: none;}

/* Clases generales */
.loading {
	background:#fff url(colorbox/loading.gif) no-repeat no-repeat 600px;
}
.hidden {display: none;}
.show {display: block;}

.nextPage, .prevPage {
	position:absolute;
	display:block;
	height:45px;
	width:50px;
	top:300px;
}
.nextPage {
	right:30px;
	background-image: url(../img/next.png);
}
.prevPage {
	left:30px;
	background-image: url(../img/prev.png);
}
/* Clases generales */

/* ---- INDEX ---- */
#header{
	width:100%;
	height: 70px;
	margin:0;
}
#content{
  width: 100%;
  height: calc(100% - 70px);
}
#header-control{
	display: inline-block;
	width: 100%;
}
button{
	position: relative;
	margin: 10px;
	background-color: #2D89EF;
	border: none;
	font-family: Arial;
	font-size: 18px;
	line-height: 49px;
	color: #FFF;
	padding: 0 15px
}
button:active{
	margin: 12px 8px 8px 12px;
}
#login-button,#create-album{
	float: right;
	padding-right: 50px;
    border: 1px solid white;
}
#login-button{
	float: right;
	padding-right: 50px;
    border: 1px solid white;
}
#login-button>img{
	position: absolute;
	top: 5px;
	right: 5px;
}
#user-info {
	color: #FFF;
	font-size: 1.8em;
	font-weight: normal;
	display: inline-block;
	float: right;
	margin: 0;
	padding: 18px;
}
/* ---- inicio.html ---- */
#logo-home{
	width: 750px;
	margin: 0 auto;
	margin-top: 15%;
	position: relative;
}

.pulse {
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
@keyframes pulse{0%{transform:scale(0.9);opacity:0.7;}50%{transform:scale(1);opacity:1;}100%{transform:scale(0.9);opacity:0.7;}}
@-webkit-keyframes pulse{0%{-webkit-transform:scale(0.95);opacity:0.7;}50%{-webkit-transform:scale(1);opacity:1;}100%{-webkit-transform:scale(0.95);opacity:0.7;}}

/* ---- main.html ---- */
@font-face {
	font-family:iconFont;
	src:url(../fonts/iconFont.eot?#iefix) format(embedded-opentype), url(../fonts/iconFont.svg#iconFont) format(svg), url(../fonts/iconFont.woff) format(woff), url(../fonts/iconFont.ttf) format(truetype);
	font-weight:400;
	font-style:normal;
}

#nav-user-control{
	background-color: rgba(255, 255, 255, .8);
	width: 210px;
	float: left;
    position: fixed;
}

#body{
	position:relative;
	display: inline-block;
	height: auto;
	width: calc(100% - 249px);
	margin: 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 235px;
}
.nav-button [class*="icon-"]{
	position:absolute;
	color:#fff;
	top: 10px;
	right:10px;
	font-family:iconFont;
	z-index:1002;
	margin: 0px;
	font-size: 3em;
}

.icon-photos:before{content:"\e005"}
.icon-albums:before{content: "\e004"}
.icon-posts:before{content: "\e01c"}
.icon-friends:before{content: "\e03b"}
.icon-friend-add:before{content: "\e083"}
.icon-notificaciones:before{content:"\e037"}
.icon-comments:before{content:"\e039"}
.icon-likes:before{content:"\e04d"}
.icon-groups:before{content:"\e13d"}
.icon-volume-on:before{content:"\e1a0";}
.icon-volume-off:before{content:"\e1a1";}

.bg-color-blue{background-color:#2d89ef!important;}
.bg-color-blueLight{background-color:#eff4ff!important;}
.bg-color-blueDark{background-color:#2b5797!important;}
.bg-color-green{background-color:#00a300!important;}
.bg-color-greenLight{background-color:#41A201!important;}
.bg-color-greenDark{background-color:#1e7145!important;}
.bg-color-red{background-color:#FF8C00!important;}
.bg-color-purple{background-color:#4444dd!important;}
.bg-color-yellow{background-color:#FFEE00!important;}
.bg-color-orange{background-color:#e3a21a!important;}
.bg-color-orangeDark{background-color:#da532c!important;}
.bg-color-pink{background-color:#9f00a7!important;}
.bg-color-pinkDark{background-color:#7e3878!important;}
.bg-color-purple{background-color:#FF0006!important;}
.bg-color-darken{background-color:transparent!important;}
/*.bg-color-darken{background-color:#1d1d1d!important;}*/
.bg-color-lighten{background-color:#d5e7ec!important;}
.bg-color-white{background-color:#ffffff!important;}
.bg-color-grayDark{background-color:#525252!important;}
.bg-color-magenta{background-color:#ff0097!important;}
.bg-color-teal{background-color:#00aba9!important;}
.bg-color-redLight{background-color:#ee1111!important;}

#nav-user-control>ul{
	list-style: none;
	display: inline-block;
}
.nav-button{
	cursor: pointer;
	position: relative;
	background: #555;
	height: 90px;
	width: 190px;
	margin: 10px;
	-moz-transition: margin .2s ease-in-out;
	-webkit-transition: margin .2s ease-in-out;
	transition: margin .2s ease-in-out;
}
.nav-button>h1{
	text-decoration: none;
	color: #FFF;
	margin: 10px;
	line-height: 70px;
	font-size: 1.5em;
	margin: 10px;
	padding: 0;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.nav-button:hover{
	border: solid 3px black;
	height: 84px;
	line-height: 84px;
	margin: 10px 20px;
}
.nav-button>*{
	float: left;
	padding: 0;
}
.nav-button a{
	text-decoration: none;
	color: #FFF;
}
#user-photo{
	width: 105px;
	height: 100%;
	background-size: cover;
	background-position: center;
}
/* ---- newPost.html ---- */
#que-estas-pensando{
	margin: 0 auto;
	width: calc(80% - 40px);
	text-align: center;
}
#que-estas-pensando>input[type='text']{
	font-family: Arial;
	line-height: 79px;
	font-size: 3em;
	color:black;
	border-radius: 10px 0 0 10px;
	width: calc(100% - 216px);
	padding: 0 10px;
	float: left;
}
#adjuntarFoto{
	float: left;
	margin: 0 auto;
	width: 96px;
	height: 83px;
	line-height: 24px;
	text-align: right;
	border-radius: 0 10px 10px 0;
}

#publicarStatus{
	float: left;
	margin: 0 auto;
	width: 96px;
	height: 83px;
	text-align: right;
}

.albumInfo {
	margin:12px;
}

.albumInfo li{
	margin:12px;
}
.albumInfo input{
	width:500px;
	padding:9px;
}
.albumInfo select{
	padding:9px;
}

.container-album {
	position: relative;
	float: left;
	top: 50px;
	margin-left: 41px;
}
.container-album{	
	width: 100%;
	height: 100%;	
	margin: 35px auto;
	position: relative;
	float: left;
	margin-top: 65px;
}

.container-album img{	border: none;
		width: 100%;
}

#albumActions {
	position: absolute;
	top: 6px;
	right: 40px;
}

#albumActions ul{
	display: inline-flex;
}

#uploadPreview {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 58px;
	left: 18px;
}
#uploadPreview img {
	width:100px;
	height:100px;
}

#examinar {
	position:absolute;
	top: -1000px;
}
/* ---- albums.html ---- */

#albumPhotos{
	width: 600px;
	margin: 0 auto;
}
#drop_zone{
	border: 2px solid blueviolet;
	padding: 2px;
	height: 70%;
	margin: 14px;
}
.container-album ul{	list-style: none;
	margin-top: 5%;
	padding: 0;}
.container-album li{		float: left;
		position: relative;
		padding: 10px 10px 25px 10px;
		background: #eee;
		border: 1px solid #fff;
		box-shadow: 1px 2px 10px #333;
		margin-left: 2%;
		max-width: 28%;
		min-width: 180px;
		}
.container-album li {
color: red;
font-weight: 500;}
.container-album span{	padding-top: 2%;
		padding-left: 45%;
		font-family: Arial;
		font-size: 0.8em;
		max-width: 28%;
		min-width: 180px;		
		}


.container-album  li:nth-child(even){	
	z-index: 0;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
    background: url(../img/user.png) no-repeat -3px 24px white;
background-size: contain;
height: 192px;
width: 187px;}

.container-album  li:nth-child(odd){	
	z-index: 1;
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
    background: url(../img/user.png) no-repeat -3px 24px white;
background-size: contain;
height: 192px;
width: 187px;}

.container-album  li:hover{
	z-index: 10;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	}

/* ---- newsFeed.html ---- */
#wall ul{
	width: 80%;
	margin: 0 auto;
	list-style: none;
}
#wall li{
	display: inline-block;
	margin: 20px;
	width: calc(100% - 40px);
	margin-top: 10%;
}
.avatar {
	float: left;
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin-right: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background-position: center;
	background-size: cover;
}
.post{
	word-wrap: break-word;
	font-size: 16pt;
	line-height: 15pt;
	padding: 15px;
	background-color: #ECF0F1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}
.post h1{
	font-size: 24px;
	line-height: 70px;
}
.post h1>a{
	text-decoration: none;
	color: #000;
}
.post h1>a:hover{
	text-decoration: underline;
}
.post .text{
	margin: 15px 0;
}
.post img{
	margin: 0 auto;
	margin-top: 10px;
    max-height: 350px;
	max-width: 100%;
}

/* Div para comentar en posts y fotos */
#div-comment{
	position: relative;
	margin-top: 54px;
}
#div-comment h3{
	position: absolute;
	top:-15px;
	left:5px;
	color:#2d89ef;
}
#div-comment textarea {
	height: 75px;
	width: 97%;
	margin-left: 7px;
	margin-top: 13px;
}
#div-comment button {
	position: absolute;
	bottom: -71px;
	right: 0px;
}
#div-comment img {
	position: absolute;
	bottom: -62px;
	right: 124px;
}

/* Div para comentar en posts y fotos */

/* ---- groups.html ---- */
#groups{
	width: 600px;
	margin: 0 auto;
}
#groups ul {
	width: 100%;
	list-style: none;
}
#groups li a{
	width: 500px;
	padding: 25px;
	margin: 10px auto;
	display: block;
	font-size: 25px;
	text-decoration: none;
	color: black;
	background-color: #ECF0F1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}

/* ---- friends.html ---- */
#friends, #container-album{
	width: 600px;
	margin: 0 auto;
}
.friends, .albums{
	margin: 0 -40px;
}
.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	float:left;
	width: 186px;
	height: 170px;
	margin: 7px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);; /* Safari and Chrome */
}

.flipper {
	transition: .6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d; /* Safari and Chrome */
	position: relative;
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	box-shadow:inset 0px 0px 100px rgba(0,0,0,0.2);
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
	width: 100%;
}

.front .desc {
	position:absolute;
	background:rgba(0,0,0,0.5);
	display:block;
	width:auto;
	bottom:0px;
	width: calc(100% - 30px);
	padding: 15px;
}

.front .desc span {
	display:inline-block;
	color:white;
	font-size:.9em;
}

.back {
	transform: rotateY(180deg);
	-ms-transform:rotateY(180deg); /* IE 9 */
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	background:#f0f0f0;
	box-shadow:inset 0px 0px 50px rgba(0,0,0,0.2);
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	padding: 15px;
	display: inline-block;
}

.back label{
	margin-left: -5px;
	}
/* ---- photos.html ---- */
#photos *{
	margin: 0;
	padding: 0;
}
#photos {
	position: relative;
	width: calc(100% - 100px);
	height: calc(100% - 70px);
}
#photos h1, #photo {
	width: calc(80% - 20px);
	max-height: 80%;
	float: left;
}
#photo img {
	max-width: 100%;
	max-height: 100%;
}
#photos .bjqs h2 {
	background-color:#050;
	line-height:53px;
	opacity:0.9;
	width:55px;
	height:55px;
	position:absolute;
	top:10px;
	right:142px;
	cursor:pointer;
}

a.postInfo{
	font-size: 18px;
}

.likes {display:none;}
#colorbox a.like,a.unlike {
	font-size: 20px;
}

.photo-comments .post{ 
	width: calc(100% - 25px);
	margin: 5px auto;
	height: auto;
	display: inline-block;
	padding: 10px;
}
#listPhotos {
	width: 20%;
	max-height: 100%;
	float: right;
	display: inline-block;
	padding: 0;
	overflow: auto;
}
#listPhotos li, 
#listPhotos img {
	cursor: pointer;
	width: 100%;
}
/* ---- friendWall.html ---- */
#header-info {
	width: 100%;
	height:100px;
}
#header-info span{
	width: calc(100% - 500px);
	margin: 0 20px;
	display: inline-block;
	float: left;
}
#profilePhoto{
	width: 96px;
	height: 96px;
	float: left;
	border-radius: 100%;
	border: 2px solid #AAA;
	background-size: contain;
	background-position: center;
	background-color: #CCC;
	background-repeat: no-repeat;
}
#name{
	display: inline;
	line-height: 100px;
	cursor: default;
	font-size: 2.5em;
	color: #FFF;
}
.botonCircular{
	font-family: iconFont;
	text-align: center;
	text-decoration: none;
	width: 100px;
	line-height: 100px;
	display: block;
	border-radius: 100%;
	float: left;
	color: #FFF;
	margin: 0 10px;
}
.botonCircularChico{
	font-family: iconFont;
	text-align: center;
	text-decoration: none;
	width: 55px;
	line-height: 55px;
	display: block;
	border-radius: 100%;
	float: left;
	color: #FFF;
	margin: 5px 15px;
}
/* ---- notifications.html ---- */

.notificaciones .post{
	height: auto;
	padding: 0;
	margin: 5px 0;
	display: inline-block;
	width: 100%;
	padding: 10px
}
.notificaciones .avatar {
	float: left;
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin-right: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background-position: center;
	background-size: cover;
}

.notificaciones li {
	margin-bottom:2px;
	width: 72%;
	margin: 0 auto;
}

/** INICIO **/


div#container-home {
    position: relative;
    height: 100%;
    width: 100%;
}

.header-right {
    color: white;
    margin-right: 50px;
}
.header-right > h1.icon-notificaciones{
	position: relative;
    cursor:pointer;
	line-height:60px;
	right:0;
	width:60px;
	height:60px;
}
.header-right > .icon-notificaciones span{
	font-weight: bold;
	color: #FFF;
	position: absolute;
	left: 26px;
	top: 5px;
}

.logo-home-header {
    width: 750px;
    margin: 0 auto;
    margin-left: 15%;
    position: relative;
    padding-top: 60px;
}

.logo-home-header > h1, .logo-home-header > h2{
	font-family: Arial;
    font-weight: 200;
    font-size: 10em;
    float: left;
    color: white;
    margin: .67em 0;
}
.logo-home-header > h2 {
	width: auto;
    text-align: right;
    margin-top: -294px;
    float: right;
    margin-right: -223px;
}

/*  ALBUMS */
div#container-album {
    position: relative;
    width: 800px;
    margin-left: 160px;
    margin-top: 70px;
}
div#container-album .prevPage {
left: -100px;
}

div#container-album .nextPage {
right: -12%;
position: absolute;
}
}
/*Plugin de autocompletar de Twitter*/
html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.tt-dropdown-menu,
.gist {
  text-align: left;
}

/* Buscador */
.ui-menu-item{
	display: flex;
}
.ui-menu-item img{
	float: left;
}
.ui-menu-item a{
	float: left;
	width: 400px;
}
.ui-menu-item li{
	width: 420px;
}
.searching { 
	background: #fff url('../img/ajax-loader.gif') no-repeat;
	background-position: 380px 8px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
	margin: 7px 0px 7px 130px;
  	background-color: #fff;
  	float: left;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

#adjuntarFoto h1.icon-photos {
  position: absolute;
  color: #fff;
  top: 30px;
  right: 21px;
  font-family: iconFont;
  z-index: 1002;
  margin: 0px;
  font-size: 3em;
}
.selectedImage {
	height: 83px;
	width: 101px;
	position: absolute;
	top: 10px;
	right: 124px;
	z-index: 9999;
}