html, body{min-width: 1100px;background:#e9eaed}

/* General */
.bg-blue{background-color:#4a62a7}
.bg-lblue{background-color:#c0c7e5}
.bg-green{background-color:#2ec66c}
.bg-yellow{background-color:#fae100}
.bg-orange{background-color:#fd9326}
.bg-cyan{background-color:#01ade5}
.bg-red{background-color:#f12a38}
.bg-white{background-color:#ffffff}

.fg-blue{color:#4a62a7}
.fg-lblue{color:#c0c7e5}
.fg-green{color:#2ec66c}
.fg-yellow{color:#fae100}
.fg-orange{color:#fd9326}
.fg-cyan{color:#01ade5}
.fg-red{color:#f12a38}
.fg-white{color:#ffffff}

*{font-family:arial !important}
li, ul{list-style:none !important;padding: 0}
button{border:none!important;padding:5px 20px}
.font1{font-size:20pt;font-weight:bold}
.font2{font-size:18pt;font-weight:bold}
.font3{font-size:16pt;font-weight:normal}
.font4{font-size:14pt;font-weight:normal}

.middle{display:table!important;height:100%}
.middle-content{display:table-cell;vertical-align:middle;text-align:center}

/* header y navbar */
#navbar {border:none}
#navbar img{height:30px}
#nav-content a:hover{background-color:#5E79C7;color:#fff;}
#SpeechConf>img{height:30px}

/* nav user control */
.form-control{padding:18px 12px;font-size:16pt;margin:3px}
.nav-icon{display:inline-block;width:50px;height:37px;text-align:center;background-size:contain;background-position:center;background-repeat:no-repeat;margin-right:15px}
.nav-button{padding:10px 15px 5px;margin-bottom:15px;box-shadow:5px 5px 5px #d0d0d0}
#nav-user-control{padding-left: 15px} 
#nav-user-control ul{padding:0}
#nav-user-control span{bottom:10px;position:relative}
#nav-user-control li{margin-bottom: 15px}
#nav-user-control li a{padding:0}
#nav-user{padding:10px 10px 5px}
#nav-user>span{bottom:58px;left:20px}
#user-photo{display:inline-block;width:136px;height:136px;background-size:contain;background-position:center;background-repeat:no-repeat}

/* que estas pensando */
#examinar{display:none}
#post-text{width:calc(100% - 58px);padding:10px 15px;border:0}
#adjuntarFoto{width:58px;height:58px;padding:10px;margin:5px -3px;top:-6px;position:relative}
#adjuntarFoto>img{width:100%}

/* news feed */
.nextPage,.prevPage{position:absolute;display:block;height:45px;width:33px;top:160px}
.prevPage{left:-40px;background-image:url(../img/prev.png)}
.nextPage{right:-40px;background-image:url(../img/next.png)}

#wall-template, #wall{padding:0;margin-top:30px}
.newHeader{height:70px;display:block;padding:20px 0 0}
.avatar{float:left;width:70px;height:70px;margin-right:20px;background-position:center;background-size:cover}
.post-content{word-wrap:break-word;padding:15px}
.post-footer{padding:0}
.post-footer-icon{height:20px;margin-right:7px}

/* coments */
#publicarComentario{float:right;width:150px;margin:10px 0}
#div-comment{top:35px;position:relative}
.post{margin:5px 0;border-top:1px solid #eee}
.post .avatar{margin-top: 10px}
.post>span{display:flex}
.ver-comentarios{padding:8px 15px;position:absolute;right:0}

/* likes */
.likes {display:none;}

/* flip albums */
#albums, #albumPhotos{padding-left: calc(5% + 15px)}

.flip-container{height:200px;margin:0 15px 15px 0;padding:0}
.flip-container:hover .desc{display:none}
.flip-container:hover .flipper,.flip-container.hover .flipper, .back{transition-delay: .3s;transform:rotateY(180deg);-webkit-transform:rotateY(180deg)}
.flipper{transition:1s;transform-style:preserve-3d;cursor:pointer;height:200px}
.front, .back{backface-visibility:hidden;position:absolute;top:0;left:0;height:200px}
.front{padding:0;background-size:cover;background-repeat:no-repeat;background-position:center;box-shadow:inset 0px 0px 10px rgba(0,0,0,0.3)}
.back{background: #fff;box-shadow:inset 0px 0px 10px rgba(0,0,0,0.3)}

.desc{position:absolute;background:rgba(0,0,0,0.5);bottom:0px;padding: 15px}
.editAlbum{position:absolute;bottom:5px;left:0;z-index:99999;width:100%;text-align:center}

