@import url(http://fonts.googleapis.com/css?family=Aladin);

body {
	/*background-color: lightgray;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 40%);
	background-size: 40px 40px;*/
	min-width: 940px;
}
body>.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -9999;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}

*{margin: 0; padding: 0}

li{list-style: none;}

/* Clases generales */

.hidden {display: none;}
.show {display: block;}

.nextPage, .prevPage {
	position:absolute;
	display:block;
	height:45px;
	width:50px;
	top:300px;
}
.nextPage {
	right:30px;
	background-image: url(../img/next.png);
}
.prevPage {
	left:30px;
	background-image: url(../img/prev.png);
}
/* Clases generales */

/* ---- INDEX ---- */
#header{
	width:100%;
	height: 70px;
	margin:0;
}
#content{
  width: 100%;
  height: calc(100% - 70px);
}
#header-control{
	display: inline-block;
	width: 100%;
}
button{
	position: relative;
	margin: 10px;
	background-color: #2D89EF;
	border: none;
	font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 49px;
	color: #FFF;
	padding: 0 15px
}
button:active{
	margin: 12px 8px 8px 12px;
}
#login-button{
	float: right;
	padding-right: 50px;
    border: 1px solid white;
}
#login-button>img{
	position: absolute;
	top: 5px;
	right: 5px;
}
#user-info {
	color: #FFF;
	font-size: 1.8em;
	font-weight: normal;
	display: inline-block;
	float: right;
	margin: 0;
	padding: 18px;
}
/* ---- inicio.html ---- */
#logo-home{
	width: 750px;
	margin: 0 auto;
	margin-top: 15%;
	position: relative;
}

.pulse {
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
@keyframes pulse{0%{transform:scale(0.9);opacity:0.7;}50%{transform:scale(1);opacity:1;}100%{transform:scale(0.9);opacity:0.7;}}
@-webkit-keyframes pulse{0%{-webkit-transform:scale(0.95);opacity:0.7;}50%{-webkit-transform:scale(1);opacity:1;}100%{-webkit-transform:scale(0.95);opacity:0.7;}}

/* ---- main.html ---- */
@font-face {
	font-family:iconFont;
	src:url(../fonts/iconFont.eot?#iefix) format(embedded-opentype), url(../fonts/iconFont.svg#iconFont) format(svg), url(../fonts/iconFont.woff) format(woff), url(../fonts/iconFont.ttf) format(truetype);
	font-weight:400;
	font-style:normal;
}

#nav-user-control{
	background-color: #EBEBEB;
	width: 210px;
	float: left;
}

#body{
	position:relative;
	display: inline-block;
	height: auto;
	width: calc(100% - 270px);
	margin: 0 20px;
    padding:10px;    
}
.nav-button [class*="icon-"]{
	position:absolute;
	color:#fff;
	top: 10px;
	right:10px;
	font-family:iconFont;
	z-index:1002;
	margin: 0px;
	font-size: 3em;
}

.icon-photos:before{content:"\e005"}
.icon-albums:before{content: "\e004"}
.icon-posts:before{content: "\e01c"}
.icon-friends:before{content: "\e03b"}

.bg-color-blueDark{background-color:#2B5797!important}
.bg-color-orangeDark{background-color:#DA532C!important}
.bg-color-pinkDark{background-color:#7E3878!important}
.bg-color-greenLight{background-color:#99B433!important}
.bg-color-green{background-color:#00A300!important}
.bg-color-blue{background-color:#2D89EF!important}
.bg-color-darken{background-color:transparent}

#nav-user-control>ul{
	list-style: none;
	display: inline-block;
}
.nav-button{
	cursor: pointer;
	position: relative;
	background: #555;
	height: 90px;
	width: 190px;
	margin: 10px;
	-moz-transition: margin .2s ease-in-out;
	-webkit-transition: margin .2s ease-in-out;
	transition: margin .2s ease-in-out;
}
.nav-button>h1{
	text-decoration: none;
	color: #FFF;
	margin: 10px;
	line-height: 70px;
	font-size: 1.5em;
	margin: 10px;
	padding: 0;
}
.nav-button:hover{
	border: solid 3px black;
	height: 84px;
	line-height: 84px;
	margin: 10px 20px;
}
.nav-button>*{
	float: left;
	padding: 0;
}
.nav-button a{
	text-decoration: none;
	color: #FFF;
}
#user-photo{
	width: 105px;
	height: 100%;
	background-size: cover;
	background-position: center;
}
/* ---- newPost.html ---- */
#que-estas-pensando{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
#que-estas-pensando>input[type='text']{
	font-family: 'Aladin';
	font-size: 4em;
	color:black;
	border-radius: 10px 10px 0px 0px;
	width: calc(100% - 20px);
	padding: 0 10px;
}
#publish-post{
	margin: 0 auto;
	padding: 0;
	background-color: #f2f2f2;
	width: calc(100% - -4px);
	text-align: right;
}



.container-album {
position: relative;
float: left;
top: 50px;
margin-left: 41px;
}
.container-album{	
	width: 100%;
	height: 100%;	
	margin: 35px auto;
	position: relative;
	float: left;
	margin-top: 65px;
}

.container-album img{	border: none;
		width: 100%;
}


/* ---- albums.html ---- */
.container-album ul{	list-style: none;
	margin-top: 5%;
	padding: 0;}
.container-album li{		float: left;
		position: relative;
		padding: 10px 10px 25px 10px;
		background: #eee;
		border: 1px solid #fff;
		box-shadow: 1px 2px 10px #333;
		margin-left: 2%;
		max-width: 28%;
		min-width: 180px;
		}
.container-album li {
color: red;
font-weight: 500;}
.container-album span{	padding-top: 2%;
		padding-left: 45%;
		font-family: 'Century Gothic';
		font-size: 0.8em;
		max-width: 28%;
		min-width: 180px;		
		}


.container-album  li:nth-child(even){	
	z-index: 0;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
    background: url(../img/user.png) no-repeat -3px 24px white;
background-size: contain;
height: 192px;
width: 187px;}

.container-album  li:nth-child(odd){	
	z-index: 1;
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
    background: url(../img/user.png) no-repeat -3px 24px white;
background-size: contain;
height: 192px;
width: 187px;}

.container-album  li:hover{
	z-index: 10;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	}

/* ---- newsFeed.html ---- */
#wall ul{
	width: 80%;
	margin: 0 auto;
	list-style: none;
}
#wall li{
	display: inline-block;
	margin: 20px;
	width: calc(100% - 40px);
}
.avatar {
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.post{
	word-wrap: break-word;
	font-size: 12pt;
	line-height: 15pt;
	padding: 15px;
	background-color: #ECF0F1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}
.post h1{
	font-size: 15px;
	line-height: 50px;
}
.post .text{
	margin: 15px 0;
}
.post img{
	margin: 0 auto;
	max-height: 470px;
	max-width: 100%;
}
/* ---- friends.html ---- */

.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	margin: 10px;
	float:left;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);; /* Safari and Chrome */
}

.flip-container, .front, .back {
	width: 200px;
	height: 200px;
}

.flipper {
	transition: .6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d; /* Safari and Chrome */
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	box-shadow:inset 0px 0px 100px rgba(0,0,0,0.2);
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.front .desc {
	position:absolute;
	background:rgba(0,0,0,0.5);
	display:block;
	width:auto;
	bottom:0px;
	padding:15px;
	line-height:27px;
	width: 170px
}

.front .desc span {
	display:inline-block;
	color:white;
	font-size:.9em;
}

.back {
	transform: rotateY(180deg);
	-ms-transform:rotateY(180deg); /* IE 9 */
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	background:#f0f0f0;
	box-shadow:inset 0px 0px 50px rgba(0,0,0,0.2);
	padding:25px;
	width:150px;
	height:150px;
}
/* ---- photos.html ---- */
#photos *{
	margin: 0;
	padding: 0;
}
#photos {
	position: absolute;
	width: calc(100% - 230px);
	height: calc(100% - 70px);
}
#photos h1, #photo {
	width: calc(80% - 20px);
	max-height: 80%;
	float: left;
}
#photo img {
	max-width: 100%;
	max-height: 100%;
}
#listPhotos {
	width: 20%;
	max-height: 100%;
	float: right;
	display: inline-block;
	padding: 0;
	overflow: auto;
}
#listPhotos li, 
#listPhotos img {
	cursor: pointer;
	width: 100%;
}

/* ---- friendWall.html ---- */
#header-info {
	width: 100%;
	height:100px;
}
#header-info span{
	width: calc(100% - 380px);
	margin: 0 20px;
	display: inline-block;
	float: left;
}
#profilePhoto{
	width: 96px;
	height: 96px;
	float: left;
	border-radius: 100%;
	border: 2px solid #AAA;
	background-size: contain;
	background-position: center;
	background-color: #CCC;
	background-repeat: no-repeat;
}
#name{
	display: inline;
	line-height: 100px;
	cursor: default;
	font-size: 2.5em;
	color: #FFF;
}
.botonCircular{
	font-family: iconFont;
	text-align: center;
	text-decoration: none;
	width: 100px;
	line-height: 100px;
	display: block;
	border-radius: 100%;
	float: left;
	color: #FFF;
	margin: 0 10px;
}

/** INICIO **/


div#container-home {
position: relative;
height: 100%;
width: 100%;
}

.header-home-left {
width: auto;
position: relative;
float: left;
}
.header-home-left > h1 {
  color: white;
  margin-left: 50px;
  margin-top: 19px;
  font-size: 1.8em;
  font-weight: normal;
}

.header-home-right {
float: right;
width: auto;
color: white;
margin-right: 50px;
}

.logo-home-header {
width: 750px;
margin: 0 auto;
margin-left: 15%;
position: relative;
padding-top: 60px;
}

.logo-home-header > h1, .logo-home-header > h2{
	font-family: 'Arial';
    font-weight: 200;
    font-size: 10em;
    float: left;
    color: white;
    margin: .67em 0;
}
.logo-home-header > h2 {
	width: auto;
    text-align: right;
    margin-top: -294px;
    float: right;
    margin-right: -223px;
}