<div class="col-xs-18 col-xs-offset-1">
	<a class="prevPage albums" href="javascript:void(0)"></a>
	<a class="nextPage albums" href="javascript:void(0)"></a>
	<% (friendId == 'me') ? soyYo = true: soyYo = false;
		%>
	<div class="col-xs-20 text-right">
		<button id="create-album" class="speak fg-white bg-yellow font2" data-voice="Click para crear album"><span class="font1 icon">+<img src="img/icons/albums.png"></span>Crear album</button>
	</div>
	<div id="albums" class="col-xs-20">
		<% _.each(albums, function(album) { %> 
		<div class="flip-container col-xs-5 fg-white">
			<div class="flipper col-xs-20">
				<div class="front col-xs-20" style="background-image:url('https://graph.facebook.com/<%=album.attributes.id%>/picture?type=album&access_token=<%=access_token%>')">
					<div class="desc font4 fg-white col-xs-20">
						<%= album.attributes.name %>
					</div>
				</div>
				<div class="back speak col-xs-20 bg-lblue" data-voice="<%= album.attributes.name %>" onclick="window.location.href = '/#albums/<%=album.attributes.id%>/photos'">
					<h1 class="font3"><%= album.attributes.name %></h1>
					<% if(soyYo){%>
					<div class="editAlbum bg-blue">
						<a href="#/updateAlbum/<%=album.attributes.id%>" class="speak font2 fg-white" data-voice="Agregar fotos a este album">EDITAR</a>	
					</div>
					<%}%>
				</div>
			</div>	
		</div>
		<% }); %>
	</div>
	<%if(soyYo){%>
	<%}%>
	<%if(soyYo){%>
	<div id="uploadAlbumForm" class="hidden">
		<div class="middle">
			<div class="col-xs-20 middle-content">
				<br>
				<form role="form">
					<div class="form-group">
						<input type="text" id="nombre" placeholder="Nombre de album" class="speak form-control" data-voice="Escribe un nombre para el album">
					</div>
					<div class="form-group">
						<input type="text" id="message" placeholder="Descripcion del album" class="speak form-control" data-voice="Descripción del album">
					</div>
					<div class="form-group">
						<button id="saveAlbum" class="speak image-button bg-blue fg-white font2" data-voice="click para publicar album">Publicar album</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<%}%>
</div>