<a class="prevPage albums" href="javascript:void(0)"></a>
<a class="nextPage albums" href="javascript:void(0)"></a>
<div id="container-album">
	<% _.each(albums, function(album) { %> 
		<div class="flip-container">
			<div class="flipper">"
				<div class="front" style="background-image:url('https://graph.facebook.com/<%=album.attributes.id%>/picture?type=album&access_token=<%=access_token%>')">
					<div class="desc">
						<span><%= album.attributes.name %></span>
					</div>
				</div>
				<div class="back speak" data-voice="<%= album.attributes.name %>" onclick="window.location.href = '/#albums/<%=album.attributes.id%>/photos'">
					<label><%= album.attributes.name %></label>
				</div>
			</div>	
		</div>
	<% }); %>
</div>
