<a class="prevPage albums" href="javascript:void(0)"></a>
<a class="nextPage albums" href="javascript:void(0)"></a>
<div id="container-album">
	<% _.each(albums, function(album) { %> 
		<div class="flip-container">
			<div class="flipper">"
				<div class="front" style="background-image:url('https://graph.facebook.com/<%=album.attributes.id%>/picture?type=album&access_token=<%=access_token%>')">
					<div class="desc">
						<span><%= album.attributes.name %></span>
					</div>
				</div>
				<div class="back speak" data-voice="<%= album.attributes.name %>" onclick="window.location.href = '/#albums/<%=album.attributes.id%>/photos'">
					<label><%= album.attributes.name %></label>
				</div>
			</div>	
		</div>
	<% }); %>
	<button id="create-album" class="big image-button bg-color-darken fg-color-white login-button">
	Crear album<img src="img/azul.png"></button>
</div>

<div id="uploadAlbumForm" class="hidden">
	<ul class="albumInfo">
		<li><input type="text" id="nombre" placeholder="Nombre de album" class="speak" data-voice="Nombre de album"/></li>
		<li><input type="text" id="message" placeholder="Descripcion del album" class="speak" data-voice="Descripcion del album"/></li>
		<li>
			<select class="speak" id="privacidad" data-voice="Quiénes pueden ver el album?">
			  <option value="EVERYONE">Público</option>
			  <option value="ALL_FRIENDS">Amigos</option>
			  <option value="FRIENDS_OF_FRIENDS">Amigos de mis amigos</option>
			  <option value="SELF">Yo solo</option>
			</select>
			<button id="saveAlbum" class="speak image-button bg-color-blue fg-color-white" data-voice="click para publicar album">Publicar album</button>
		</li>
	</ul>	
	
</div>
