<div id="friends">
	<% _.each(friends, function(friend) { %> 
	<div class="flip-container">
		<div class="flipper">"
			<div class="front" style="background-image:url('http://graph.facebook.com/<%= friend.attributes.id %>/picture?type=large')">
				<div class="desc">
					<span><%= friend.attributes.name %></span>
				</div>
			</div>
			<div class="back speak" data-voice="<%= friend.attributes.name %>" onclick="window.location.href='/#friend/<%= friend.attributes.username%>'">
				<label><%= friend.attributes.name %></label>
			</div>
		</div>
	</div>
	<% }); %>
</div>