<div id="friends">
	<% _.each(friends, function(friend) { %> 
	<div class="flip-container">
		<div class="flipper">"
			<div class="front" style="background-image:url('http://graph.facebook.com/<%= friend.attributes.id %>/picture?type=large')">
				<div class="desc">
					<span><%= friend.attributes.name %></span>
				</div>
			</div>
			<div class="back" id="<%=friend.attributes.id%>" onMouseover="meSpeak.speak('<%= friend.attributes.name %>',{speed:125});">
				<label><%= friend.attributes.name %></label>
			</div>
		</div>
	</div>
	<% }); %>
</div>