<div id="header-info">
	<img src="http://graph.facebook.com/<%= friend.id%>/picture?type=normal" />
	<span>
		<h1><%= friend.name%></h2>
		<h2><%= friend.username%></h2>
	</span>	
</div>
<div id="wall-updates">
	<ul id="friend-wall-template">
		<% _.each(wall, function(post) { %> 
		    <li>
		    	<div class="post-info">
					<span><%= post.attributes.from.name%>
						<% if (post.attributes.to != null){%>>><%= post.attributes.to.data[0].name%>
						<% }%>	
					</span>
				</div>
		    </li>
		<% }); %>
	</ul>
</div>
