<div id="header-info">
	<img src="http://graph.facebook.com/<%= friend.id%>/picture?type=normal" />
	<span>
		<h1><%= friend.name%></h2>
		<h2><%= friend.username%></h2>
	</span>	
</div>
<div id="wall-updates">
	<ul id="friend-wall-template">
		<% _.each(wall, function(post) { %> 
		    <li>
		    	<div class="post-info">
					<h3><%= post.attributes.from.name%>
						<% if (post.attributes.to != null){%>>> <%= post.attributes.to.data[0].name%>
						<% }%>
					</h3>
						<% if (post.attributes.story != null) { %>
						<em><%= post.attributes.story %></em>  	
					   <% }%>

					   <% if (post.attributes.message != null) { %>
						 <em><%= post.attributes.message %></em>
					   <% }%>  	
					</p>	
				</div>
		    </li>
		<% }); %>
	</ul>
</div>
