<nav id="navbar" class="bg-blue fg-white font6" role="navigation">
	<a href="#" class="left">
		<img id="logo" src="img/logo.png" alt="facebook+">
	</a>
	<ul id="nav-content" class="left">
		
	</ul>
	<a class="font6 bg-lblue fg-blue nav-option right" href="#" id="login-button" onclick="<%= logButtonEvent %>" data-voice="<%= logButtonText %>">
		<img class="icon" src="img/icons/salir-a.png"><%= logButtonText %>
	</a>
</nav>
<!--
<button id="login-button" class="big image-button bg-color-darken fg-color-white login-button speak" onclick="<%= logButtonEvent %>" data-voice="<%= logButtonText %>"><%= logButtonText %><img src="img/azul.png">
</button>
<h1 id="user-info" class="speak" data-voice="<%= username %>"><%= username %></h1>
-->