<nav id="nav-user-control">
	<ul>
		<a href="/#fbid/me"><li><div class="nav-button bg-color-blueDark" id="nav-user"><div id="user-photo" draggable="true" style="background-image:url(' <%= photo %> ')"></div></div></li></a>
		<a onMouseover="meSpeak.speak('fotos');" href="/#photos/<%= id %>"><li><div class="nav-button bg-color-orangeDark" id="nav-photos"><h1>FOTOS</h1><h1 class="icon-photos"></h1></li></div></a>
		<a onMouseover="meSpeak.speak('albums');" href="/#albums/<%= id %>"><li><div class="nav-button bg-color-pinkDark" id="nav-albums"><h1>ALBUMS</h1><h1 class="icon-albums"></h1></li></div></a>
		<a onMouseover="meSpeak.speak('posts');" href="/#posts/<%= id %>"><li><div class="nav-button bg-color-greenLight" id="nav-posts"><h1>POSTS</h1><h1 class="icon-posts"></h1></li></div></a>
		<a onMouseover="meSpeak.speak('amigos');"href="/#friends/<%= id %>"><li><div class="nav-button bg-color-green" id="nav-friends"><h1>AMIGOS</h1><h1 class="icon-friends"></h1></li></div></a>
		<div class="prueba"></div>
	</ul>
</nav>
<section id="body">
</section>