<div id="wall">
	<ul id="wall-template">
		<input hidden="" id="destinoPost" value="me">
		<a class="prevPage newsFeed" href="javascript:void(0)"></a>
		<a class="nextPage newsFeed" href="javascript:void(0)"></a>

		<% _.each(news, function(post) { %> 
		    <li>
		    	<div class="post">
		    		<div class="avatar" style="background-image: url(http://graph.facebook.com/<%= post.from.id %>/picture?type=normal)"></div>
					<h1>
						<a class="speak" data-voice="Publicado por <%=post.from.name %>" href="/#friend/<%= post.from.id%>"><%= post.from.name%></a>
						<% if (post.to != null){%>
						>> <a class="speak" data-voice="para <%= post.to.data[0].name %>" href="/#friend/<%= post.to.data[0].id%>"><%= post.to.data[0].name %></a>
						<% }%>
					</h1> 
					<!--
				    <div class="avatar" style="background-image: url(http://graph.facebook.com/<%= post.from.id %>/picture)">
					</div>
					<h1 data-voice="De <%=post.from.name%>" class="speak"><%= post.from.name%>
						<% if (post.to != null){%>
							>> <%= post.to.data[0].name%>
						<% }%>
					</h1>
				-->
					<% 
						if (post.story != null) { %>
						<div data-voice="<%=post.story%>" class="text speak"><%= post.story %></div>
					<% }%>

					<% if (post.message != null) { %>
						<div data-voice="<%=post.message%>" class="text speak"><%= post.message %></div>
					<% }%>

					<% if (post.source != null) { %>
						<iframe width="470" height="350" src="<%= post.source %>?autoplay=0" frameborder="0" allowfullscreen>
						</iframe>
					<% } else if (post.object_id != null) { %>
							<%var foto = post.picture;%>
							<center><img src="<%= foto.replace('s.jpg','n.jpg')%>" /></center>
					<% } %>
					
					<% var postInfo = "A nadie le gusta esto";
					if (post.likes != null) {
						var likes = post.likes.data;
						var count = post.likes.data.length;
						if(count == 1){ 
							if(likes[0].id == miID)
								postInfo = "Te gusta esto!"
							else
								postInfo = "A " + likes[0].name + " le gusta esto!"
						}
						else {
							if (count > 1) { 
								if(likes[0].id == miID)
									postInfo = "A ti y a" + count + "personas les gusta esto"
								else
									postInfo = "A " + likes[0].name + " y a " + count + " personas les gusta esto"
							}
						} 
					}%>
					
					<a href="javascript:void(0)" class="postInfo" name="post-<%=post.id%>"><%=postInfo %></a><br><br>
					<a href="javascript:void(0)" id="<%=post.id%>" class="like">Me gusta</a>
					
					<%if (post.likes != null) {
						var likes = post.likes.data;%>
						<div id="post-<%=post.id%>" class="hidden">
							<ul class="photo-comments">
								<% _.each(post.likes.data, function(autorLike) { %> 
										<div class="post">
								    		<div class="avatar" style="background-image: url(http://graph.facebook.com/<%=autorLike.id%>/picture?type=square)">
								    		</div>
								    		<h5><%=autorLike.name%><h5>
								    	</div>	
								<% });%>    
					    	</ul>
						</div>	
					<%}%>	

				</div>
			</li>
		<% }); %>
	</ul>
</div>