<div id="wall">
	<ul id="wall-template">
		<input hidden="" id="destinoPost" value="me">
		<a class="prevPage newsFeed" href="javascript:void(0)"></a>
		<a class="nextPage newsFeed" href="javascript:void(0)"></a>

		<% _.each(news, function(post) { %> 
		    <li>
		    	<div class="post">
		    		<div class="avatar" style="background-image: url(http://graph.facebook.com/<%= post.from.id %>/picture?type=normal)"></div>
					<h1>
						<a class="speak" data-voice="Publicado por <%=post.from.name %>" href="/#friend/<%= post.from.id%>"><%= post.from.name%></a>
						<% if (post.to != null){%>
						>> <a class="speak" data-voice="para <%= post.to.data[0].name %>" href="/#friend/<%= post.to.data[0].id%>"><%= post.to.data[0].name %></a>
						<% }%>
					</h1> 
					<!--
				    <div class="avatar" style="background-image: url(http://graph.facebook.com/<%= post.from.id %>/picture)">
					</div>
					<h1 data-voice="De <%=post.from.name%>" class="speak"><%= post.from.name%>
						<% if (post.to != null){%>
							>> <%= post.to.data[0].name%>
						<% }%>
					</h1>
				-->
					<% 
						if (post.story != null) { %>
						<div data-voice="<%=post.story%>" class="text speak"><%= post.story %></div>
					<% }%>

					<% if (post.message != null) { %>
						<div data-voice="<%=post.message%>" class="text speak"><%= post.message %></div>
					<% }%>

					<% if (post.source != null) { %>
						<iframe width="470" height="350" src="<%= post.source %>?autoplay=0" frameborder="0" allowfullscreen>
						</iframe>
					<% } else if (post.object_id != null) { %>
							<%var foto = post.picture;%>
							<center><img src="<%= foto.replace('s.jpg','n.jpg')%>" /></center>
					<% } %>
					
					<% var postInfo = "A nadie le gusta esto";
					if (post.likes != null) {
						var likes = post.likes.data;
						var count = post.likes.data.length;
						if(count == 1){ 
							if(likes[0].id == miID)
								postInfo = "Te gusta esto!"
							else
								postInfo = "A " + likes[0].name + " le gusta esto!"
						}
						else {
							if (count > 1) { 
								total = count - 1;
								if(likes[0].id == miID)
									postInfo = "A ti y a" + total + "personas les gusta esto"
								else
									postInfo = "A " + likes[0].name + " y a " + total + " personas les gusta esto"
							}
						} 
					}%>
					
					<a href="javascript:void(0)" class="postInfo" name="post-<%=post.id%>"><%=postInfo %></a><br><br>
					<a href="javascript:void(0)" id="<%=post.id%>" class="like">Me gusta</a>
					<%if (post.likes != null) {
						var likes = post.likes.data;%>
						<div id="post-<%=post.id%>" class="hidden">
							<ul class="photo-comments">
								<% _.each(post.likes.data, function(autorLike) { %> 
										<div class="post">
								    		<div class="avatar" style="background-image: url(http://graph.facebook.com/<%=autorLike.id%>/picture?type=square)">
								    		</div>
								    		<h5><%=autorLike.name%><h5>
								    	</div>	
								<% });%>    
					    	</ul>
						</div>	
					<%}%>	
						<ul id="comments-post-<%=post.id%>" class="hidden photo-comments">
							<%
							var totalComentarios=0;
							if (post.comments != null){
								totalComentarios = post.comments.data.length;
									_.each(post.comments.data, function(comment) { %> 
								<li>
							    	<div class="post">
							    		<div class="avatar" style="background-image: url(http://graph.facebook.com/<%=comment.from.id%>/picture?type=square)">
							    		</div>
							    		<h5><%=comment.from.name%><h5>
							    		<span><%=comment.message%></span>
							    	</div>	
							    </li>	
								<%});%>
							<%}%>
							<div id="div-comment">
								<h3>Escribe un comentario</h3>
								<textarea id="comentario" class="speak" data-voice="Qué estás pensando?"></textarea>
								<img src="http://png-1.findicons.com/files/icons/2015/24x24_free_application/24/error.png" class="hidden error"/>
								<img src="https://cdn2.iconfinder.com/data/icons/oxygen/48x48/actions/ok.png" class="hidden ok"/>
								<button id="publicarComentario" data-comment-id="<%=post.id%>" class="speak image-button bg-color-blue fg-color-white" data-voice="click para publicar comentario">Publicar</button>
							</div>	
						</ul>	
					<a href="javascript:void(0)" class="comments" name="comments-post-<%=post.id%>">Comentarios (<%=totalComentarios%>)</a>
				</div>
			</li>
		<% }); %>
	</ul>
</div>