<div id="photos">
	<div id="banner-fade">
		<ul class="bjqs">
			<% _.each(photos, function(photo) { %> 
				<li>
					<h2 href="#photo-<%=photo.attributes.id%>" class="icon-likes botonCircular bg-color-green"></h2>
					<a src="<%= photo.attributes.source %>"></a>
				</li>
			<% }); %>
		</ul>
		<div class="likes">
		<% _.each(photos, function(photo) { %> 
			<div id="photo-<%=photo.attributes.id%>">
				<a class="like" id="<%=photo.attributes.id%>" href="javascript:void(0)">Me gusta</a>
				<%if (photo.attributes.likes != null) {
					var likes = photo.attributes.likes.data;
					var count = photo.attributes.likes.data.length;

						if(count == 1){ 
							if(likes[0].id == miID) {%>
								<h3>Te gusta esto!</h3>
							<% }else{ %>
								<h3>A <%=likes[0].name%> le gusta esto!</h3>
							<%}
						else {
							if (count > 1) { 
								if(likes[0].id == miID){%>
									<h3>A ti y a <%=count%> personas les gusta esto</h3>
								<%}else{%>
									<h3>A ti y a <%=likes[0].name%> y a <%=count%> personas les gusta esto</h3>
								<%}	
							} 
						}
					}
				}

				if (photo.attributes.comments != null){%>
					<ul class="photo-comments">
						<% _.each(photo.attributes.comments.data, function(comment) { %> 
					    	<div class="post">
					    		<div class="avatar" style="background-image: url(http://graph.facebook.com/<%=comment.from.id%>/picture?type=square)">
					    		</div>
					    		<h5><%=comment.from.name%><h5>
					    		<span><%=comment.message%></span>
					    	</div>	
						<%});%>
					</ul>	
				<%}%>			
			</div>	
		<% }); %>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#banner-fade").bjqs({height:'550px',width:'100%',responsive:true, animspeed : 15000, keyboardnav : true,hoverpause : true,nexttext:'<img src="/img/next.png">', prevtext:'<img src="/img/prev.png">'})
</script>