<div id="photos">
	<div id="banner-fade">
		<ul class="bjqs">
			<%
			 _.each(photos, function(photo) { %> 
				<li>
					<h2 href="#photo-<%=photo.attributes.id%>" class="icon-likes botonCircular bg-color-green"></h2>
					<a src="<%= photo.attributes.source %>"></a>
				</li>
			<% }); %>
		</ul>
		<div class="likes">
		<% _.each(photos, function(photo) { %> 
			<div class="photo" id="photo-<%=photo.attributes.id%>">
				<%if (photo.attributes.likes != null) {
					var likes = photo.attributes.likes.data;
					var count = photo.attributes.likes.data.length;
					var likeText = "Me gusta";
					var likeClass="like"
						if(count == 1){ 
							if(likes[0].id == miID) {
								likeText = "Ya no me gusta!"
								likeClass="unlike"
								%>
								<a href="javascript:void(0)">Te gusta esto!</a>
							<% }else{ %>
								<a href="javascript:void(0)" class="postInfo" name="infoLikes-<%=photo.attributes.id%>">A <%=likes[0].name%> le gusta esto!</a>
							<%}
						}
						else {
							if (count > 1) { 
								if(likes[0].id == miID){
									likeText = "Ya no me gusta!"
									likeClass="unlike"
									%>
									<a class="postInfo" href="javascript:void(0)" name="infoLikes-<%=photo.attributes.id%>" href="javascript:void(0)">A ti y a <%=count%> personas les gusta esto</a>
								<%}else{%>
									<a class="postInfo" href="javascript:void(0)" name="infoLikes-<%=photo.attributes.id%>">A <%=likes[0].name%> y a <%=count%> personas les gusta esto</a>
								<%}	
							} 
						}
					}
				%>
				<a href="javascript:void(0)" id="<%=photo.attributes.id%>" class="<%=likeClass %>"><%=likeText %></a>
					
					<ul class="photo-comments">
						<%if (photo.attributes.comments != null){
							_.each(photo.attributes.comments.data, function(comment) { %> 
								<li>
							    	<div class="post">
							    		<div class="avatar" style="background-image: url(http://graph.facebook.com/<%=comment.from.id%>/picture?type=square)">
							    		</div>
							    		<h5><%=comment.from.name%><h5>
							    		<span><%=comment.message%></span>
							    	</div>	
							    </li>	
								<%});
						}%>
						<li>
							<div id="div-comment">
									<h3>Escribe un comentario</h3>
									<textarea id="comentario" class="speak" data-voice="Qué estás pensando?"></textarea>
									<img src="http://png-1.findicons.com/files/icons/2015/24x24_free_application/24/error.png" class="hidden error"/>
									<img src="https://cdn2.iconfinder.com/data/icons/oxygen/48x48/actions/ok.png" class="hidden ok"/>
									<button id="publicarComentario" data-comment-id="<%=photo.id%>" class="speak image-button bg-color-blue fg-color-white" data-voice="click para publicar comentario">Publicar</button>
							</div>
						</li>
					</ul>	
				<%if (photo.attributes.likes != null) {
						var likes = photo.attributes.likes.data;%>
						<div id="infoLikes-<%=photo.attributes.id%>" class="hidden">
							<ul class="photo-comments">
								<% _.each(photo.attributes.likes.data, function(autorLike) { %> 
										<div class="post">
								    		<div class="avatar" style="background-image: url(http://graph.facebook.com/<%=autorLike.id%>/picture?type=square)">
								    		</div>
								    		<h5><%=autorLike.name%><h5>
								    	</div>	
								<% });%>    
					    	</ul>
						</div>	
				<%}%>	

			</div>	
		<% }); %>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#banner-fade").bjqs({height:'550px',width:'100%',responsive:true, animspeed : 15000, keyboardnav : true,hoverpause : true,nexttext:'<img src="/img/next.png">', prevtext:'<img src="/img/prev.png">'})
</script>