<a class="prevPage albumPhotos" href="javascript:void(0)"></a>
<a class="nextPage albumPhotos" href="javascript:void(0)"></a>
<div id="albumPhotos">
	<% _.each(photos, function(photo) { %> 
	<div class="flip-container">
		<div class="flipper">"
			<div class="front">
				<img src="<%= photo.attributes.source %>" width="100%" />
				<div class="desc">
				</div>
			</div>
		</div>
	</div>
	<% }); %>
</div>
<div id="albumActions">
	<ul>
		<li>
			<button id="uploadPhotos" class="big image-buttonlogin-button">
	Subir fotos<img src="img/azul.png"></button>
		</li>
		<li>
			<button id="delete-album" class="big image-button login-button">
			Eliminar album<img src="img/azul.png"></button>
		</li>
	</ul>
</div>	