<a class="prevPage albumPhotos" href="javascript:void(0)"></a>
<a class="nextPage albumPhotos" href="javascript:void(0)"></a>
<div id="albumPhotos">
	<% _.each(photos, function(photo) { %> 
	<div class="flip-container">
		<div class="flipper">"
			<div class="front">
				<img src="<%= photo.attributes.source %>" width="100%" />
			</div>
			<div class="back">
					<br>
					<br>
					<a href="javascript:void()" class="deletePhoto" data-photo-id="<%=photo.attributes.id%>" class="speak" data-voice="Borrar foto">Borrar foto</a>
				</div>
		</div>
	</div>
	<% }); %>
</div>
<div id="albumActions" draggable="true">
			<button id="selectPhotos" class="big image-button login-button">
	Subir fotos</button>
</div>	
<div id="uploadForm" class="hidden">
	<div draggable="true">
		<div id="uploadPreview"></div>
		<input id="examinar" multiple="multiple" class="big image-button login-button" type="file" value="Examinar"
	</div>
</div>
