<ul id="wall-template">
	<% _.each(updates, function(post) { %> 
	    <li>
	    	<div class="post-info">
				<h3 onMouseover="meSpeak.speak('De <%=post.attributes.from.name%>');"><%= post.attributes.from.name%>
					<% if (post.attributes.to != null){%>
						>> <%= post.attributes.to.data[0].name%>
					<% }%>
				</h3>
					<% if (post.attributes.story != null) { %>
						<em onMouseover="meSpeak.speak('<%=post.attributes.story%>');"><%= post.attributes.story %></em>
					<% }%>

					<% if (post.attributes.message != null) { %>
						<em onMouseover="meSpeak.speak('<%=post.attributes.message%>');"><%= post.attributes.message %></em>
					<% }%>
					<div class="created_time" style="color: red"><%= post.attributes.created_time|date('d-m-Y HH:mm') %></div>
				</p>	
			</div>
		</li>
	<% }); %>
</ul>


