<div id="wall">
	<div id="banner-fade">
		<ul id="wall-template" class="bjqs col-xs-18 col-xs-offset-1">
			<input hidden="" id="destinoPost" value="me">
			<a class="prevPage wall" href="javascript:void(0)"></a>
			<a class="nextPage wall" href="javascript:void(0)"></a>
			<% 

			var arrays = [feed[0],feed[1],feed[2],feed[3]];
			var merged = [];
			merged = merged.concat.apply(merged, arrays);
			
			_.each(merged, function(post) { 
				post = post.attributes;
				count = 0;
				var postInfo = "Se el primero en dar me gusta";
					var likeText = "Me gusta";
					var likeClass="like"
				if (post.likes != null) {
					var likes = post.likes.data;
					var count = post.likes.data.length;
					if(count == 1){ 
						if(likes[0].id == miID){
							postInfo = "Te gusta esto!"
							likeText = "Ya no me gusta!"
							likeClass="unlike"
						}
						else{
							postInfo = "A " + likes[0].name + " le gusta esto!"
						}
					}
					else {
						if (count > 1) { 
							total = count - 1;
							if(likes[0].id == miID){
								postInfo = "A ti y a " + total + " personas les gusta esto"
								likeText = "Ya no me gusta!"
								likeClass="unlike"
							}
							else
								postInfo = "A " + likes[0].name + " y a " + total + " personas les gusta esto"
						}
					} 
				}
			%> 
				<li>
					<div class="post font3 bg-white">
						<div class="post-content">
							<div class="avatar" style="background-image: url(http://graph.facebook.com/<%= post.from.id %>/picture?type=normal)"></div>
							<span class="font2 fg-blue">
								<a class="speak" data-voice="Publicado por <%=post.from.name %>" href="/#friend/<%= post.from.id%>"><%= post.from.name%></a>
								<% if (post.to != null){%>
								>> <a class="speak" data-voice="para <%= post.to.data[0].name %>" href="/#friend/<%= post.to.data[0].id%>"><%= post.to.data[0].name %></a>
								<% }%>
							</span> 
							<% if (post.story != null) { %>
								<div class="text speak" data-voice="<%=post.story%>"><%= post.story %></div>
							<% }%>

							<% if (post.message != null) { %>
								<div class="text speak" data-voice="<%=post.message%>"><%= post.message %></div>
							<% }%>

							<% if (post.link) {%>
							<div style="text-align: center; margin: auto">
								<object type="application/x-shockwave-flash" style="width:320px; height:240px;" 
								data="<%=post.link.replace('watch?v=','v/')%>?color2=FBE9EC&amp;rel=0&amp;hd=1&amp;version=3&amp;fs=1">
        							<param name="movie" value="<%=post.link.replace('watch?v=','v/')%>?color2=FBE9EC&amp;rel=0&amp;hd=1&amp;version=3&amp;fs=1" />
        							<param name="allowFullScreen" value="true" />
        							<param name="allowscriptaccess" value="always" />
        						</object>
        					</div>
							<% }%>
							<% if (post.source != null) { %>
								<center>
								  <iframe width="640" height="360" src="<%= post.source %>?autoplay=0" frameborder="0" allowfullscreen></iframe>
								</center>
							<%}%>
						</div>
						<div class="post-footer bg-white col-xs-20">
							<div class="col-xs-20">
								<a href="javascript:void(0)" class="fg-blue font3 speak <% if (count != 0) {%> postInfo <%}%>" data-voice="<%=postInfo %>" name="infoLikes-<%=post.id%>">
									<img src="img/icons/megusta-a.png" class="post-footer-icon"><%=postInfo %></a>
							</div>
							<div class="col-xs-4 bg-lblue">
								<a href="javascript:void(0)" id="<%=post.id%>" class="fg-blue font3 speak <%=likeClass %>" data-voice="<%=likeText %>"><% if(likeClass=="like"){%><img src="img/icons/megusta-a.png" class=" post-footer-icon"><%}%><%=likeText %></a>
							</div>
							<%if (post.likes != null) {
								var likes = post.likes.data;%>
								<div id="infoLikes-<%=post.id%>" class="hidden">
									<ul class="photo-comments">
										<% _.each(post.likes.data, function(autorLike) { %>
										<li>
											<div class="post col-xs-20 middle">
												<div class="avatar" style="background-image: url(http://graph.facebook.com/<%=autorLike.id%>/picture?type=square)">
												</div>
												<h5 class="font1"><a href="/#friend/<%=autorLike.id%>" class="speak" data-voice="<%=autorLike.name%>"><%=autorLike.name%></a></h5>
											</div>
										</li>
										<% });%>	
									</ul>
								</div>	
							<%}%>
							<ul id="comments-post-<%=post.id%>" class="hidden photo-comments">
								<%
								var totalComentarios=0;
								var comentariosSpeech = "No hay comentarios";
								if (post.comments != null){
									totalComentarios = post.comments.data.length;
									
									if (totalComentarios == 1) 
										comentariosSpeech = "un comentario";
									else
										comentariosSpeech = totalComentarios + " comentarios";

										_.each(post.comments.data, function(comment) { %> 
									<li>
										<div class="post col-xs-20 comentario">
											<div class="avatar" style="background-image: url(http://graph.facebook.com/<%=comment.from.id%>/picture?type=square)">
											</div>
											<h5 class="font2"><a class="fg-blue speak" href="/#friend/<%=comment.from.id%>" data-voice="<%=comment.from.name%>"><%=comment.from.name%></a></h5>
											<span class="speak font3" data-voice="<%=comment.message%>"><%=comment.message%></span>
										</div>	
									</li>	
									<%});%>
								<%}%>
								<div id="div-comment">
									<h5 class="speak font2 fg-blue" data-voice="Escribe un comentario">Escribe un comentario</h5>
									<textarea id="comentario" class="speak col-xs-20" rows="5" data-voice="Qué estás pensando?"></textarea>
									<img src="http://png-1.findicons.com/files/icons/2015/24x24_free_application/24/error.png" class="hidden error"/>
									<img src="https://cdn2.iconfinder.com/data/icons/oxygen/48x48/actions/ok.png" class="hidden ok"/>
									<button id="publicarComentario" data-comment-id="<%=post.id%>" class="speak bg-blue fg-white font2" data-voice="click para publicar comentario">Publicar</button>
								</div>
							</ul>
							<div class="col-xs-16 bg-lblue">
								<a href="javascript:void(0)" class="comments fg-blue speak" data-voice="<%=comentariosSpeech%>" name="comments-post-<%=post.id%>">Comentarios (<%=totalComentarios%>)</a>
							</div>
						</div>
					</div>
				</li>
			<% }); %>
		</ul>
	</div>
</div>


<script type="text/javascript">
	$("#banner-fade").bjqs({height:'600px',width:'100%',responsive:true, animspeed : 15000, keyboardnav : true,hoverpause : true,nexttext:'<img src="/img/next.png">', prevtext:'<img src="/img/prev.png">'})
</script>